* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgba(0, 39, 76);
    min-height: 100vh;
    margin: 0;
}

.logo {
    position: absolute;
    left: 4rem;
    top: .72rem;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

nav {
    height: 80px;
    background: linear-gradient(rgba(255, 203, 5, 0.6), rgba(255, 203, 5, 0.6));
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li::after {
    content: '';
    height: 3px;
    width: 0;
    left: 0;
    background: #ffb700;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transition: width 0.5s, left 0.5s;
    transform: translateX(-50%);
}

.nav-links ul li:hover::after {
    width: 100%;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.nav-links a.active {
    text-decoration: underline;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.center {
    padding: 2rem; /* Adjust the padding to ensure there's space around the text */
    max-width: 1200px; /* Or any maximum width you prefer */
    margin: auto; /* This will center the content */
    text-align: justify; /* Justify the text to spread it evenly */
}

.center h1 {
    margin-top: 2rem;
    font-size: 5rem; 
    color: #fff;
    margin-bottom: 1rem; /* Reduce margin if it's too much */
}

.center .description {
    font-size: 1.25rem;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 1rem; /* Adjust bottom margin to reduce white space */
}

.image-gallery {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust the space between images */
    margin-top: 20px; /* Space after the about me text */
    margin-bottom: 40px;
}

.image-box {
    flex: 0 0 calc(33.333% - 20px); /* Adjust the width for three images and a gap */
    position: relative; /* Needed for the absolute positioning of the image */
    overflow: hidden; /* Hides the overflow to crop the image */
}

.image-box::before {
    content: '';
    display: block;
    padding-top: 100%; /* This will create a square aspect ratio */
}

.image-box img {
    position: absolute;
    border: 5px solid white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Dropdown Button */
.dropbtn {
    background-color: #00274C;
    color: white;
    border-radius: 50px;
    padding: 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #00274C;}


@media screen and (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .nav-links ul {
        position: absolute;
        top: 100%; /* Right below the nav bar */
        left: 0;
        background: rgba(0, 39, 76, 0.9); /* Semi-transparent background */
        width: 100%;
        display: none; /* Hidden by default */
    }

    .nav-links ul li {
        display: block;
        text-align: center;
    }

    .nav-links.active ul {
        display: block;
    }

    .nav-links ul li::after {
        content: none;
    }

    .nav-links ul li a {
        font-size: 12px;
    }

    .column-left, .column-right {
        padding: 1rem;
    }

    .column-left h1, .column-left .subtitle, .column-left .description {
        text-align: center; /* Align text to the left */
        margin-bottom: 20px;
    }
}
