/* General Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #00274C; /* Adjusted background color */
    color: #fff; /* Set text color to white */
    font-family: 'Roboto', sans-serif;
}

.bold {
    font-weight: bold;
}

/* Logo styling */
.logo {
    position: absolute;
    left: 4rem;
    top: .72rem;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

/* Navigation Bar */
nav {
    height: 80px;
    background: linear-gradient(rgba(255, 203, 5, 0.6), rgba(255, 203, 5, 0.6));
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li::after {
    content: '';
    height: 3px;
    width: 0;
    left: 0;
    background: #ffb700;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transition: width 0.5s, left 0.5s;
    transform: translateX(-50%);
}

.nav-links ul li:hover::after {
    width: 100%;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.nav-links a.active {
    text-decoration: underline;
}

/* Main Content Styling */
.content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    color: #fff;
    text-align: center;
}

.center {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
}

/* Headers and Paragraphs */
.content h1, .content h2, .content h3 {
    text-align: center;
}

.content h1 {
    margin-top: 2rem;
    font-size: 5rem;
    color: #fff;
    margin-bottom: 1rem;
}

.content h2 {
    margin-top: 2rem;
    font-size: 3.5rem;
}

.content h3 {
    margin-top: 2rem;
    font-size: 26px;
}

.center p {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 30px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #00274C;
    color: white;
    border-radius: 50px;
    padding: 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    transform: translateX(-25%);
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: #ddd;
      border-radius: 10px;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
      background-color: #00274C;
  }

.content {
    max-width: 1200px; /* Max width of the content */
    margin: 0 auto; /* Centering content */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centering children */
}

.card {
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    width: 100%; /* Full width cards */
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px; /* Rounded corners */

    flex-direction: column; /* Stack image and text vertically */
    text-align: center; /* Ensure text within the card is centered */
}

.image-placeholder {
    width: 300px;
    height: 300px;
    background-color: #000;

}

.text-content {
    flex: 1; 
    text-align: center;
    display: flex;
    flex-direction: column; 

    align-items: center;
    padding: 10px;
    width: 100%;
}

.text-content h3 {
    margin-bottom: 10px; /* Space between title and text */
    margin-top: 10px; /* Space between title and text */
}

.text-content p {
    color: #666; /* Lighter text color */
    font-size: 1.15rem;
    margin-bottom: 10px; /* Space between title and text */
    margin-top: 20px;
}

.classes, .skills {
    background-color: #00274C; /* Match the background */
    padding: 20px 0; /* Padding for visual spacing */
    color: #fff; /* Text color */
}

.classes h2, .skills h2 {
    text-align: center; /* Center the headings */
    margin-bottom: 20px; /* Space below the headings */
}

.class-item, .skill-item {
    background-color: #fff; /* Background color for items */
    color: #000; /* Text color for items */
    padding: 10px 20px; /* Padding inside items */
    margin: 10px auto; /* Margin for spacing, auto for horizontal centering in classes */
    width: fit-content; /* Adjust width to content */
    border-radius: 5px; /* Rounded corners */
}

.class-item, .skill-item {
    display: inline-flex; /* Enables flexbox properties */
    justify-content: center; /* Center items horizontally */
    gap: 40px; /* Space between items */
    font-size: 2.25rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
    gap: 20px; /* Space between cards */
    margin: 20px 0; /* Top and bottom margin */
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
    gap: 20px; /* Space between cards */
    margin: 20px 0; /* Top and bottom margin */
}

.grid-container3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    gap: 20px; /* Space between cards */
    margin: 20px 0; /* Top and bottom margin */
}

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* Show 2 cards per row on smaller screens */
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr; /* Stack cards vertically on very small screens */
    }
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .image-placeholder {
        margin-bottom: 20px;
    }

    .nav-links ul {
        position: absolute;
        top: 100%;
        left: 0;
        background: rgba(0, 39, 76, 0.9);
        width: 100%;
        display: none;
    }

    .nav-links.active ul {
        display: block;
    }

    .nav-links ul li {
        display: block;
        text-align: center;
    }

    .nav-links ul li a {
        font-size: 12px;
    }
}
