* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.back {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 39, 76, 0.6), rgba(0, 39, 76, 0.6)),
    url('assets/northcampus.jpg');
    
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo {
    position: absolute;
    left: 4rem;
    top: .72rem;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

nav {
    height: 80px;
    background: linear-gradient(rgba(255, 203, 5, 0.6), rgba(255, 203, 5, 0.6));
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li::after {
    content: '';
    height: 3px;
    width: 0;
    left: 0;
    background: #ffb700;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transition: width 0.5s, left 0.5s;
    transform: translateX(-50%);
}

.nav-links ul li:hover::after {
    width: 100%;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 80px);
    padding: 0 calc((100vw - 1300px) / 2);
    align-items: center;
}

.center h1 {
    font-size: 3.5rem; 
    color: #fff;
    margin-bottom: 1rem;
}

.column-left {
    padding: 0 2rem;
}

.column-left h1 {
    font-size: 3.5rem; 
    color: #fff;
}

.column-left .subtitle {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 30px;
}

.column-left .description {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 40px;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.profilepicture {
    width: 500px; /* Adjust the size as needed */
    height: 500px; /* Make sure width and height are the same for a circle */
    border-radius: 50%; /* Creates a circle */
    border: 5px solid white;
    overflow: hidden; /* Clips the image to the bounding circle */
    margin-left: auto; /* Pushes the container to the right */
    display: flex; /* To center the image within */
    justify-content: center; /* Center horizontally in the flex container */
    align-items: center; /* Center vertically in the flex container */
}

.hero-image {
    display: block;
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the container without stretching */
}

/* Dropdown Button */
.dropbtn {
  background-color: #00274C;
  color: white;
  border-radius: 50px;
  padding: 14px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #00274C;}

@media screen and (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .nav-links ul {
        position: absolute;
        top: 100%; /* Right below the nav bar */
        left: 0;
        background: rgba(0, 39, 76, 0.9); /* Semi-transparent background */
        width: 100%;
        display: none; /* Hidden by default */
    }

    .nav-links ul li {
        display: block;
        text-align: center;
    }

    .nav-links.active ul {
        display: block;
    }

    .nav-links ul li::after {
        content: none;
    }

    .nav-links ul li a {
        font-size: 12px;
    }

    .column-left, .column-right {
        padding: 1rem;
    }

    .column-left h1, .column-left .subtitle, .column-left .description {
        text-align: center; /* Align text to the left */
        margin-bottom: 20px;
    }

    .profilepicture {
        width: 250px; /* Adjust the size as needed */
        height: 250px; /* Make sure width and height are the same for a circle */
        margin: 20px auto;
    }
}
